body{
    background-color: black;
    margin-top: 0px;
    font-family: 'Sen', sans-serif;
}

.header{
    height: 50px;
    width: 100%;
    background-color: cornsilk;
}

.icon{
    background-image: url(/img/icon.jpg);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    height: 45px;
    width:45px;
    border-radius: 50px;
    margin: 2px 0px 0px 4px;
}

.nav-item{
    background-color: lightseagreen;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 7px;
    font-family: 'Sen', sans-serif;
    font-weight: 300;
    height: 25px;
    width: 60px;

}

ul{
    font-size: 11px;
}

.hover{
    background-color: khaki;
}

.nav-link{
    color: black;
    width: 30px;
    top: 5px;
    padding:0px !important;
}

.active{
    color: white;
}

h1{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
}

.jumbotron{
    background-color: grey;
    background-image: url(/img/jumbo_bokeh.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0 !important;
    height: 650px;
    color: white;
    margin: 0px;
}

.jumbo-text{
    margin-top: 225px;
}

.footer{
    background-color: cadetblue;
    height: 150px;
    margin-bottom: 20px;
}

.footer-info{
    padding-top: 60px;
    font-weight: 700;
}

.social-margin{
    margin-right: 15px;
}